html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: cursive;
}

#app, .container{
    width:100%;
    height:100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding:10px;
}

.main-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container h1{
    color:white;
    font-weight: 100;
    font-size: 3rem;
}

header{
    background-color: #fe6b3b;
    margin: 0px;
    padding: 5px 10px 5px;
    color:white;
    display:flex;
}

.zip-input{
    border-radius: 5px;
    min-width: 223px;
    height: 29px;
    border: 1px solid lightblue;
    padding: 3px;
    margin-bottom: 15px;
    margin-right:20px;
}

.zip-button{
    color: white;
    background-color: #1dbf1d;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #17d917;
    cursor: pointer;
    font-weight: bold;
    transition: box-shadow 0.2s ease;
}

.zip-button:hover{
    box-shadow: 1px 1px 2px black;
}

.zip-button:active{
    box-shadow: -1px -1px 2px black;
}

.text-center{
    text-align: center;
}